body{
    margin: 100px;
    padding: 100px;
    background-color: white;
}

#container{
    width: 300px;
    height: 300px;
    background-color: white;
    align-items: center;
    justify-items: center;
}

.gracz{
    width: 75px;
    height: 100px;
    display: inline;
    margin-right: -4px;
    align-items: center;
    justify-items: center;
}

.gracz:hover{
    background-color: aqua;
}

button{
    justify-items: center;
    align-items: center;
    width:50px;
    height: 60px;
}

button:hover{
    background-color: aqua;
}

.row{
    justify-items: center;
    align-items: center;
}

form{
    padding: 0;
    justify-items: center;
    align-items: center;
}