*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --dark:#292f36;
    --light:#f7fff7;
    --red:#ff6b6b;
    --green:#4ecdc4;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 100vw;
    background: url(background.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 75px;
    background-color: var(--light);
    padding-right: 2rem;
    position: relative;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
}

nav .logo{
    position: absolute;
    left: 3rem;
    bottom: 10px;
    color: var(--green);
}

nav .menu__list{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

nav .main__link{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: var(--dark);
    margin: 10px 20px;
    padding:5px;
}

nav .main__link:hover{
    border-bottom:  2px solid var(--green);
}

nav .menu__list li{
    list-style: none;
}

nav .menu__list li .main__link{
    display: block;
}

nav .dropdown{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--light);
    border-top: 1px solid var(--red);
    position: absolute;
    left: 0;
    width: 100vw;
    height: 450px;
    opacity: 0;
}

nav ul li:hover .dropdown{
    display: flex;
    animation: showDropdown;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes showDropdown{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dropdown .submenu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 80%;
    width: 200px;
    padding: 1rem;
}

.submenu h5{
    color: var(--green);
}

.submenu .menu__link{
    text-decoration: none;
    color: var(--dark);
    margin: 10px 0;
}

.submenu .red__link{
    text-decoration: none;
    color: var(--red);
}

.submenu p{
    margin-bottom: 10px;
    color: #bbb;
}

.showcase{
    display: flex;
    margin: 0 2rem;
    height: 80%;
}

.showcase .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
    max-width: 300px;
    margin: 0 10px;
    text-align: center;
}

.showcase img{
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.showcase h4{
    color: var(--green);
    margin: 10px;
}

.showcase p{
    color: var(--dark);
}

.showcase a{
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--red);
    color: var(--light);
    text-decoration: none;
}