body{
    background-color: #f1f1f1;
}

.container{
    width: 1400px;
    height: auto;
}

.header{
    margin-left: 300px;
    margin-right: 300px;
    width: 1350px;
    height: 100px;
    background-color: yellow;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
}

/* Animacja pulsowania logo */
.logo {
    float: left;
    width: 150px;
    height: auto;
    margin-top: 30px;
    margin-left: 20px;
    color: orange;
    font-size: 1.8rem;
    animation: logoPulse 2.5s infinite ease-in-out;
}


/* Kluczowe klatki pulsowania */
@keyframes logoPulse {
    0% {
        transform: scale(1);
        filter: brightness(1);
    }
    50% {
        transform: scale(1.08);
        filter: brightness(1.2);
    }
    100% {
        transform: scale(1);
        filter: brightness(1);
    }
}

nav{
    float: right;
    text-align: left;
    position: fixed;
    width: 1350px;
    height: 100px;
    background-color: black;
}

select{
    margin-top: 25px;
    float: left;
    width: 200px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    margin-left: -50px;
}


.ul-menu{
    padding: 10px;
}

nav li{
    margin: 1px;
    display: inline;
}

.btn-12 {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 10px;
    font-size: 20px;
}

.btn-12:before {
    content: "";
    position: absolute;
    width: 0;
    background : #fff;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
}

.btn-12:hover:before {
    width: 100%;
    left:0;
}


/*SITE*/

#home{
    display: flow-root;
    margin-left: 300px;
    margin-right: 300px;
    margin-top:20px;
    width:1350px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
}

#firma{
    display: none;
    margin-left: 300px;
    margin-right: 300px;
    margin-top:20px;
    width:1350px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
}

#firma-i-instytucje{
    display: none;
    margin-left: 300px;
    margin-right: 300px;
    margin-top:20px;
    width:1350px;
    height: 400px;
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.1);
}
